---
export const prerender = true;
import { CacheHeaders } from "cdn-cache-control";
// components
import Layout from "@layouts/Layout.astro";
import DocumentsPageContent from "@components/documentsComponents/DocumentsPageContent.astro";
import DocumentsCardSkeleton from "@components/skeletons/DocumentsCardSkeleton.astro";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";

const headers = new CacheHeaders({}, "netlify").swr(3000).ttl(3000).tag(['documents']);
headers.forEach((value, key) => Astro.response.headers.set(key, value));
Astro.response.headers.set('Netlify-Vary', 'query=page')
---

<Layout title="Documentos">
  <CommonHeaderTitle title="Documentos" />
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-5/6 min-h-[400px] md:min-h-[600px] lg:min-h-fit lg:mb-20 px-2 justify-center items-center lg:items-start lg:h-fit mx-auto gap-4 mb-5 md:max-w-[700px] lg:max-w-[1000px]"
  >
    <DocumentsPageContent server:defer>
      <DocumentsCardSkeleton slot="fallback" />
    </DocumentsPageContent>
  </div>
</Layout>
