---
// components
import Layout from "@layouts/Layout.astro";

// import document types
import type { Documents } from "@customTypes/documents";
import type { pageInfo } from "@customTypes/common";

// services
import { getDocumentsPerPage } from "@services/documents";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";
import { CacheHeaders } from "cdn-cache-control";
import NavigationPagination from "@components/generalUtilities/NavigationPagination.astro";

const page = Astro.params?.page ?? "1";
const pageNumber = parseInt(page, 10);
let data;
let documents: Documents[];
let pageInfoData: pageInfo;
try {
  data = await getDocumentsPerPage(pageNumber);
  documents = data.list;
  pageInfoData = data.pageInfo;
} catch (error) {
  return Astro.redirect("/documents/page/1");
}

const headers = new CacheHeaders({}, "netlify").swr(300).ttl(3000).tag(['documents', `documents-page-${page}`]);
headers.forEach((value, key) => Astro.response.headers.set(key, value));
---

<Layout title="Documentos">
  <CommonHeaderTitle title="Documentos" />
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-5/6 min-h-[400px] md:min-h-[600px] lg:min-h-fit lg:mb-20 px-2 justify-center items-center lg:items-start lg:h-fit mx-auto gap-4 mb-5 md:max-w-[700px] lg:max-w-[1000px]"
  >
    {
      documents.map((document) => (
        <div class="bg-red-800 w-full h-40 md:h-60 lg:h-80 lg:w-60 md:py-8 md:px-4 flex flex-col items-center justify-between items-end py-4">
          <p class="text-white text-center font-serif md:text-xl lg:text-2xl">
            {document.Titulo}
          </p>
          <a
            class="bg-yellow-700 text-white px-2 py-1 rounded-md h-fit"
            href={document.PDF[0].signedUrl}
            target="_blank"
            >
            Ver PDF
          </a>
        </div>
      ))
    }
    <div class="row-start-auto col-span-full ">
      <NavigationPagination pageInfoData={pageInfoData} currentSection="documents" />
    </div>  
  </div>
</Layout>
