---
Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, s-maxage=300, stale-while-revalidate=3500')
Astro.response.headers.set('Netlify-vary','query=page');
export const prerender = true;

// components
import Layout from "@layouts/Layout.astro";
import DocumentsPageContent from "@components/documentsComponents/DocumentsPageContent.astro";

// import document types
import type { Documents } from "@customTypes/documents";
import type { pageInfo } from "@customTypes/common";

// services
import { getDocumentsPerPage } from "@services/documents";
import DocumentsCardSkeleton from "@components/skeletons/DocumentsCardSkeleton.astro";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";

const page = Astro.params?.page ?? "1";
const pageNumber = parseInt(page, 10);
let data;
let documents: Documents[];
let pageInfoData: pageInfo;
try {
  data = await getDocumentsPerPage(pageNumber);
  documents = data.list;
  pageInfoData = data.pageInfo;
} catch (error) {
  return Astro.redirect("/documents/page/?page=1");
}
---

<Layout title="Documentos">
  <CommonHeaderTitle title="Documentos" />
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-5/6 min-h-[400px] md:min-h-[600px] lg:min-h-fit lg:mb-20 px-2 justify-center items-center lg:items-start lg:h-fit mx-auto gap-4 mb-5 md:max-w-[700px] lg:max-w-[1000px]"
  >
    <DocumentsPageContent server:defer>
      <DocumentsCardSkeleton slot="fallback" />
    </DocumentsPageContent>
  </div>
</Layout>
