---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import NewsCard from "@components/NewsCard.astro";
import { getNewsPerPage } from "@services/news";
import type { NewsItem } from "@customTypes/news";
import NavigationPagination from "@components/NavigationPagination.astro";
import type { pageInfo } from "@customTypes/common";

const page = Astro.params?.page ?? '1';
const pageNumber = parseInt(page, 10);
let data;
let pages: NewsItem[];
let pageInfoData: pageInfo;
try {
  data = await getNewsPerPage(pageNumber);
  pages = data.list;
  pageInfoData = data.pageInfo;
} catch (error) {
  return Astro.redirect("/noticias/page/1");
}
console.log('pageDataInfo', pageInfoData);
---

<Layout title="Noticias">
  <h3 class="text-center font-bold text-2xl py-6 bg-red-800 text-white mb-5 lg:mt-40 lg:bg-transparent lg:text-gray-800 lg:text-4xl">
    Noticias
  </h3>
  <div class="cards-container flex flex-col gap-5 px-4 min-h-[500px] md:min-h-[800px] md:flex-wrap md:flex-row md:justify-center md:px-0 w-full">
    {
      (pages as NewsItem[]).map(
        (newsItem) => <NewsCard {...newsItem} />,
      )
    }
  </div>
  {
    pageInfoData && (
      <NavigationPagination pageInfoData={pageInfoData} currentSection='noticias'/>
    )
  }
</Layout>
