---
import Layout from "@layouts/Layout.astro";
import NewsCard from "@components/NewsCard.astro";
import { getNews } from "@services/news";
import type { NewsItem } from "../../../types/news";
import type { GetStaticPaths } from "astro";
import NavigationPagination from "@components/NavigationPagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const news = await getNews();
  // console.log(news.list[0].Imagenes[0].thumbnails);
  return paginate(news.list, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Noticias">
  <h3 class="text-center font-bold text-2xl py-6 bg-red-800 text-white mb-5 lg:mt-40 lg:bg-transparent lg:text-gray-800 lg:text-4xl">
    Noticias
  </h3>
  <div class="cards-container flex flex-col gap-5 px-4 min-h-[500px] md:min-h-[800px] md:flex-wrap md:flex-row md:justify-center md:px-0 w-full">
    {
      (page.data as NewsItem[]).map(
        (newsItem) => <NewsCard {...newsItem} />,
      )
    }
  </div>
  <NavigationPagination urls={page.url}/>
</Layout>
