---
export const prerender = true; 
// components
import Layout from "@layouts/Layout.astro";
import NewsPageContent from "@components/newsComponents/NewsPageContent.astro";
import NewsCardSkeleton from "@components/skeletons/NewsCardSkeleton.astro";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";

Astro.response.headers.set("Cache-Control", "public, max-age=0, must-revalidate");
Astro.response.headers.set("Netlify-Vary", "query=page");
---
<Layout title="Noticias">
  <CommonHeaderTitle title="Noticias" />
  <div
    class="cards-container flex flex-col gap-5 min-h-[500px] md:min-h-[800px] md:max-w-[700px] md:mx-auto w-full"
  >
    <NewsPageContent server:defer >
      <NewsCardSkeleton slot="fallback" />
    </NewsPageContent>
  </div>
</Layout>
