---
export const prerender = true;

import ConsultsForm from "@components/consultsComponents/ConsultsForm.astro";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Consultas">
  <CommonHeaderTitle title="Denuncias" />
  <div class="container mx-auto min-h-[500px] w-full flex flex-col justify-center p-5 items-center lg:mt-5">
    <ConsultsForm/>
  </div>
</Layout>
