---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import JuntaDirectiva from "@components/membersComponents/JuntaDirectiva.astro";
import Secretarias from "@components/membersComponents/Secretarias.astro";
import JuntaDirectivaSkeleton from "@components/skeletons/JuntaDirectivaSwiperSkeleton.astro";
import SecretariasSwiperSkeleton from "@components/skeletons/SecretariasSwiperSkeleton.astro";
---

<Layout title="Members">
  <h3
    class="font-serif text-2xl md:font-bold md:text-3xl mt-5 text-center mb-10 lg:mt-44"
  >
    Junta Directiva
  </h3>
  <JuntaDirectiva server:defer>
    <JuntaDirectivaSkeleton slot="fallback" />
  </JuntaDirectiva>
  <h3
    class="font-serif text-2xl md:font-bold md:text-3xl mt-3 text-center mb-10 pt-10"
  >
    Secretarias
  </h3>
  <Secretarias server:defer>
    <SecretariasSwiperSkeleton slot="fallback" />
  </Secretarias>
</Layout>
