---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
---
<Layout title="Formulario Correctamente Enviado">
  <div class="container mx-auto min-h-[500px] w-full flex flex-col items-center lg:mt-40">
    <h1 class="text-4xl font-bold text-center my-12 font-serif">Gracias por enviar tu consulta</h1>
    <p class="text-lg text-center">Estaremos respondiendo tu duda en el menor tiempo posible!</p>
    <p class="text-lg text-center">Estate atento a tu correo electronico!</p>
    <a href="/home" class="font-serif p-2 bg-red-800 text-white rounded mt-20">Volver a la pagina principal</a>
  </div>
</Layout>