---
// src/components/About.astro
---

<section class="pt-10 bg-gray-50" id="about-section">
  <div class="container px-4 mx-auto">
    <h2 class="text-3xl mb-4 font-bold text-center font-serif">NOSOTROS</h2>
    <div class="grid gap-8 md:grid-cols-2">
      <div class="p-8 bg-[#942626] text-white rounded-lg shadow-2xl">
        <h3 class="mb-4 text-2xl font-bold">Misión</h3>
        <p class="">
          Promover y defender los derechos estudiantiles en la Universidad
          Nacional de San Antonio Abad del Cusco (UNSAAC), fomentando la
          participación activa en la construcción de una universidad
          democrática, inclusiva y autónoma. La FUC busca ser un motor de cambio
          social y académico, representando a los estudiantes en las decisiones
          universitarias y sociales de impacto colectivo.
        </p>
      </div>
      <div class="p-8 bg-[#942626] text-white rounded-lg shadow-2xl">
        <h3 class="mb-4 text-2xl font-bold">Visión</h3>
        <p class="">
          Ser reconocida como una organización estudiantil líder en el Perú,
          destacada por su compromiso con la autonomía universitaria, la
          excelencia educativa y la justicia social, contribuyendo al desarrollo
          integral de la comunidad universitaria y a la transformación de la
          sociedad cusqueña y peruana.
        </p>
      </div>
    </div>
  </div>
</section>
