---
export const prerender = true;

// components
import Layout from "@layouts/Layout.astro";
import EventsPageContent from "@components/eventsComponents/EventsPageContent.astro";
import EventsCardSkeleton from "@components/skeletons/EventsCardSkeleton.astro";
import CommonHeaderTitle from "@components/generalUtilities/CommonHeaderTitle.astro";
---
<Layout title="Eventos">
  <CommonHeaderTitle title="Eventos" />
  <div
    class="w-full min-h-[600px] md:min-h-[800px] md:max-w-[700px] lg:max-w-[950px] md:mx-auto"
  >
    <EventsPageContent server:defer>
      <EventsCardSkeleton slot="fallback" />
    </EventsPageContent>
  </div>
</Layout>
