---
import BackArrow from "./BackArrow.astro";
---

<button
  class="group flex flex-row justify-start max-h-[60px] w-fit bg-red-800 text-white ml-2 mt-2 p-2 rounded-xl text-sm hover:scale-105 transition-all gap-2 lg:mt-40 lg:ml-10 xl:mt-50"
  onclick="window.history.back()"
>
  <BackArrow />
  <span> Regresar </span>
</button>
