---
import ConsultsFormCarousel from "@components/ConsultsFormCarousel";
---

<div class="container">
  <ConsultsFormCarousel client:load/>
</div>

<style>
  .swiper-button-next::after {
    background-color: #f5f5f5;
    display: none;
  }
</style>