---
// src/components/Footer.astro
---
<footer class="py-12 text-white bg-black">
    <div class="container px-6 mx-auto">
      <div class="grid gap-8 md:grid-cols-3">
        <div>
          <h3 class="mb-4 text-xl font-bold">Contacto</h3>
          <ul class="space-y-2">
            <li>Dirección: Av. Universidad s/n</li>
            <li>Teléfono: (123) 456-7890</li>
            <li>Email: contacto@fuc.edu.pe</li>
          </ul>
        </div>
        <div>
          <h3 class="mb-4 text-xl font-bold">Redes Sociales</h3>
          <div class="flex gap-4">
            <a href="#" class="hover:text-red-500">Facebook</a>
            <a href="#" class="hover:text-red-500">Instagram</a>
            <a href="#" class="hover:text-red-500">Twitter</a>
          </div>
        </div>
        <div class="flex justify-end">
          <img src="/logo.png" alt="FUC Logo" class="h-24">
        </div>
      </div>
    </div>
  </footer>