---

---

<div
  class="hamburguer fixed bottom-2 right-2 flex flex-col items-center justify-center bg-gray-900 rounded-full w-10 h-10 pointer lg:hidden"
>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="white"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Top Line -->
    <path
      class="path-top origin-left transition-transform"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75z"
    ></path>
    <!-- Middle Line -->
    <path
      class="path-middle origin-left transition-transform"
      d="M2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
    <!-- Bottom Line -->
    <path
      class="path-bottom origin-left transition-transform"
      d="M2 15.25a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75z"
    ></path>
  </svg>
</div>
