---
const quote =
  "En aras de una educacion basada en derechos e integración humana";
---

<blockquote class="flex font-serif justify-center text-lg py-8 px-2 font-semibold text-gray-900 text-white dark:text-white bg-red-800">
  <p class="border-s-4 pl-2">{quote}</p>
</blockquote>
