---
export const prerender = true;

import Footer from "@components/generalUtilities/Footer.astro";
import Navigation from "@components/generalUtilities/Navigation.astro";
import unsaacBorder from "@assets/unsaacBorder.png";
import { ClientRouter } from "astro:transitions";

// src/layouts/Layout.astro
interface Props {
  title: string;
  isHeroPage?: boolean;
}

const { title, isHeroPage = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href={unsaacBorder.src} as="image" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="relative">
    <Navigation isHeroPage={isHeroPage}/>
    <slot />
    <Footer isHeroPage={isHeroPage} />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  .swiper-button-next:after {
    color: #000;
  }
  .swiper-button-prev:after {
    color: #000;
  }
  body {
    width: 100%;
    height: 100%;
  }
  .tl-slide .tl-slide-background {
    filter: blur(3px);
  }
  @media (max-width: 768px) {
    .tl-media-blockquote blockquote {
      font-size: medium !important;
    }
  }
</style>
